<div class="container">
  <div style="min-height: 2rem;"></div>
  <div class="d-flex justify-content-center">
    <nav aria-label="...">
      <ul class="pagination pagination-lg">
        <li class="page-item disabled" *ngIf="fileMode==false">
          <a class="page-link" tabindex="-1">URL</a>
        </li>
        <li class="page-item" (click)="switchMode()"><a class="page-link" href="#" *ngIf="fileMode==true">URL</a></li>
        <li class="page-item disabled" *ngIf="fileMode==true">
          <a class="page-link" tabindex="-1" >File</a>
        </li>
        <li class="page-item" (click)="switchMode()"><a class="page-link" href="#" *ngIf="fileMode==false">File</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="container">
  <app-main-calculus *ngIf="fileMode==false"></app-main-calculus>
  <app-file-upload *ngIf="fileMode==true"></app-file-upload>
  </div>
